<!DOCTYPE html>
<html>

<head>
    <title>My First Blog with Django Girls tutorial</title>
</head>

<body>
    <header>
        <h1><a href="/">My First Blog</a></h1>
    </header>
    <h1>My Blog</h1>
    <p>Here is where I will write my blog posts.</p>

    <article>
        <time>published:21.04.2026, 18:19</time>
        <h2><a href="">My First Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </article>

    <article>
        <time>published:21.04.2026, 18:19</time>
        <h2><a href="">My Second Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </article>
</body>

</html>